{
    "additionalProperties": {
        "cxFlow": {        
			"vulnerabilityScanners": ["sca"]
        }
    },
	"sca": {
		"appUrl": "scaAppUrlTestSample",
		"apiUrl": "scaApiUrlTestSample",
		"accessControlUrl": "scaAcUrlTestSample",
		"tenant": "sampleTenant",
		"thresholdsSeverity": {
			"HIGH": 10,
			"MEDIUM": 6,
			"LOW": 3
		},
		"thresholdsScore": 8.5,
		"filterSeverity": ["high", "medium", "low"],
		"filterScore": 2.5
	}
}
